h1{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2px;
  row-gap: 2px;
  align-items: center;
  justify-content: center;
}
#canvas {
  margin: 0 auto;
  border: 1px #444 solid;
  touch-action: none; 
}

#toolbarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 7px;
	touch-action: none;
}
#toolbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 140px;
	height: 110px;
	border: 2px solid #444;
	border-radius: .3em;
	background: rgba(255, 243, 174, 1);
	touch-action: none;
	user-select: none;
	z-index: 200;
}
.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	column-gap: 10px;
	row-gap: 10px;
  justify-content: center;
	align-items: center;
	color: #000;
	touch-action: none;
	user-select: none;
}
.pencil{
  cursor: url('../img/pencil.ico'), crosshair;
}

.eraser {
  cursor: url('../img/eraser.ico'), cell;
}

.legend{
	text-align: center;
	font-size: .6em;
}

select {
	width: 50px;
	padding: 3px;
	border: 1px solid #444;
	border-radius: .3em;
	background-color: inherit;
}